<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    WeLcoMe tO SoMetHinG!
  </h1>
</div>
<h2>Don't let me into my zone </h2>
<button (click)='PST()'[ngClass]="{
  'yellow': STbool == 1
}">PST</button>
<button (click)='MST()'[ngClass]="{
  'yellow': STbool == 2
}">MST</button>
<button (click)='CST()'[ngClass]="{
  'yellow': STbool == 3
}">CST</button>
<button (click)='EST()'[ngClass]="{
  'yellow': STbool == 4
}">EST</button>
<button (click)='clear()'>clear</button>
<h2>{{time}}</h2>

